.profile__edit-button {
    border: 1px solid #FFFFFF;
    width: 22px;
    height: 22px;
    background-image: url('../../../images/pen.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px 10px;
    margin-top: 4px;
    align-self: center;
}
.profile__edit-button:hover {
    opacity: .5;
    cursor: pointer;
    transition: 0.5s;
}
@media screen and  (max-width: 767px) {
    .profile__edit-button {
        width: 16px;
        height: 16px;
        background-size: 7.5px 7.5px;
    }
}