.popup__content {
    width: 430px;
    position: relative;
    z-index: 2;
    opacity: 1;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 330px;
    margin-top: 195px;
}
@media screen and  (max-width: 767px) {
    .popup__content {
        width: 282px;
        margin-top: 150px;
        height: 322px;
    }
}
