.header__logo {
    background-image: url('../../../images/Vector.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 142px;
    height: 33px;
    margin: 0;
    padding: 45px 0 41px 0;
}
@media screen and  (max-width: 767px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin: 0 auto 0 27px;
        padding: 28px 0 31.6px 0;
    }
}