.page__content {
    max-width: 69vw;
    position: relative;
    max-width: 880px;
    margin: 0 auto 0 auto;
    padding: 0;
}
@media screen and  (max-width: 767px) {
    .page__content {
        max-width: 320px;
    }
}