.popup__close {
    background: none;
    border: none;
    width: 32px;
    height: 32px;
    background-image: url('../../../images/CloseIcon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -40px;
}
.popup__close:hover {
    opacity: .6;
    cursor: pointer;
    transition: 0.5s;
}
@media screen and  (max-width: 767px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -30px;
        right: 0;
    }
}