.popup__block {
    width: 430px;
    height: 330px;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
}
@media screen and  (max-width: 767px) {
    .popup__block {
        width: 282px;
        height: 322px;
    }
}